.leftSide .chat-list {
    border-radius: 0 0 0 30px;
}

.chat-list {
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.chat-list .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.chat-list .block.active {
    background: #ebebeb;
}

.chat-list .block:hover {
    background: #f5f5f5;
}

.chat-list .block .imgbx {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-list .block .details {
    position: relative;
    width: 100%;
}

.chat-list .block .details .list-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chat-list .block .details .list-head h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chat-list .block .details .list-head .time {
    font-size: 0.75em;
    color: #aaa;
}

.chat-list .block .details .list-head .time {
    color: #111;
}

.chat-list .block.unread .details .list-head .time {
    color: var(--my-message-collor);
}

.message-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-p p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-p b {
    background: var(--my-message-collor);
    color: var(--main-collor-light);
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}