.search-chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search-chat div {
    width: 100%;
}

.search-chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: var(--main-collor-light);
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search-chat div input::placeholder {
    color: #bbb;
}

.search-chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}