.form-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .form-link span,
  .form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
  }
  
  .form a {
    color: #0171d3;
    text-decoration: none;
  }
  
  .form-content a:hover {
    text-decoration: underline;
  }
  
  