.chat-box {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.chat-box .message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.chat-box .message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: var(--my-message-collor-light);
    border-radius: 10px;
    font-size: 0.9em;
}

.chat-box .message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,var(--my-message-collor-light) 0%, var(--my-message-collor-light) 50%, transparent 50%, transparent);
}

.chat-box .message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my-message {
    justify-content: flex-end;
}

.friend-message {
    justify-content: flex-start;
}

.friend-message p {
    background: var(--main-collor-light) !important;
    text-align: left !important;
}

.chat-box .message.friend-message p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,var(--main-collor-light) 0%, var(--main-collor-light) 50%, transparent 50%, transparent);
}